

<div class="center jumbotron">
  <h1>Welcome to Tool Junkie's To Do</h1>
  <% if logged_in? %>
  <div class="center jumbotron">
  Welcome back! 
  </div>
<% else %>
Please Sign up to use our service! 
  </div>
<% end %>