<div>

<p class="content"><%= task_item.content %></p>
 
<p> Deadline  <span class="timestamp"><%= task_item.deadline %>.</span> </p>

<%= link_to "Delete", task_list_task_items_path(@task_list, task_item_url), method: :delete, data: { confirm: "Are you sure?" } %>


</div>

